<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level - %date %logger{36} - %message%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.github.ashim" level="${logback.level}" />

	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.transaction" level="WARN" />
	<logger name="org.springframework.jdbc" level="INFO" />

	<logger name="org.hibernate" level="INFO" />
	
	<logger name="liquibase" level="INFO" />

	<!-- in order to debug some marshalling issues, this needs to be TRACE -->
	<logger name="org.springframework.web.servlet.mvc" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>